@rendermode InteractiveServer
<div>
    <EditForm Model="@stockDetail" OnSubmit="OnSaveStock">

        <div class="row mb-3">
            <label for="EquipmentType" class="col-sm-2 col-form-label">Equipment Type</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled value="@stockDetail.EquipmentType" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="EquipmentName" class="col-sm-2 col-form-label">Equipment Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled value="@stockDetail.EquipmentName" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="SerialNumber" class="col-sm-2 col-form-label">Serial Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled value="@stockDetail.SerialNumber" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="ClinicalReference" class="col-sm-2 col-form-label">Clinical Tech Ref</label>
            <div class="col-sm-10">
                <InputText id="ClinicalReference" class="form-control" @bind-Value="@stockDetail.ClinicalReference"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <label for="ServiceDate" class="col-sm-2 col-form-label">Service Date</label>
            <div class="col-sm-10">
                <InputDate id="serviceDate" class="form-control" @bind-Value="@stockDetail.ServiceDate"></InputDate>
            </div>
        </div>

        <button Type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</div>




