@rendermode InteractiveServer
@using Domain.Models
<div>

    <Grid TItem="StockItem"
          Class="table table-hover table-bordered table-striped"
          DataProvider="StockItemsDataProvider"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="15"
          AllowSorting="true"
          FixedHeader="true"
          Responsive="true"
          Unit="Unit.Px"
          Height="600">

        <GridColumns>
            <GridColumn TItem="StockItem" HeaderText="Id" PropertyName="StockId" SortKeySelector="item => item.StockId">
                @context.StockId
            </GridColumn>
            <GridColumn TItem="StockItem" HeaderText="Type" PropertyName="EquipmentType" SortKeySelector="item => item.EquipmentType">
                @context.EquipmentType
            </GridColumn>
            <GridColumn TItem="StockItem" HeaderText="Name" PropertyName="EquipmentName" SortKeySelector="item => item.EquipmentName">
                @context.EquipmentName
            </GridColumn>
            <GridColumn TItem="StockItem" HeaderText="Clinical Ref" PropertyName="ClinicalReference" SortKeySelector="item => item.ClinicalReference">
                @context.ClinicalReference
            </GridColumn>
            <GridColumn TItem="StockItem" HeaderText="Service Date" PropertyName="ServiceDate" SortKeySelector="item => item.ServiceDate">
                @context.ServiceDate?.ToString("dd/MM/yyyy")
            </GridColumn>
            <GridColumn TItem="StockItem" Filterable="false" HeaderText="View" HeaderTextAlignment="Alignment.Center" PropertyName="Id">
                <a href="/stock/detail/@context.StockId">View</a>
            </GridColumn>
           
        </GridColumns>

    </Grid>


</div>