@page "/patient/detail/{internalpatientid:int}"
@rendermode @(new InteractiveServerRenderMode(prerender:false));
<Tabs>
    <Tab Title="Patient Demographics" Active="true">
        <Content>

            <div class="border border-dark">

                
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Hospital Number:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.HospitalNumber" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    NHS Number:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.NHSNumber" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Surname:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.Surname" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Forename:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.Forename" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Address:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.Address1, @patient.Address2 , @patient.Address3, @patient.Address4, @patient.PostCode" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Date of Birth:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.DateofBirth" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Home Tel:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.Telephone1" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    Mobile Tel:
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="@patient.Telephone2" />
                                </div>
                            </div>

                        </div>


                    </div>

                


            </div>
        </Content>
    </Tab>
    <Tab Title="Patient Detail">
        <Content>
            
                <EditForm Model="@patient" OnSubmit="OnSavePatient">
                    <div class="row">

                        <div class="col">


                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Date Initiated:
                                </label>
                                <div class="col-sm-8">
                                    <InputDate id="dateInitiated" @bind-Value="@patient.DateInitiated"></InputDate>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Current Status:
                                </label>
                                <div class="col-sm-8">
                                    <InputNumber id="patientStatus" @bind-Value="@patient.PatientStatus"></InputNumber>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    CCG:
                                </label>
                                <div class="col-sm-8">
                                    <InputText id="ccg" @bind-Value="@patient.CCG"></InputText>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Dependency:
                                </label>
                                <div class="col-sm-8">
                                    <InputNumber id="ccg" @bind-Value="@patient.Dependency"></InputNumber>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Discharge Status:
                                </label>
                                <div class="col-sm-8">
                                    <InputNumber id="dischargeStatus" @bind-Value="@patient.DischargeStatus"></InputNumber>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Diagnosis:
                                </label>
                                <div class="col-sm-8">
                                    <InputTextArea id="diagnosis" @bind-Value="@patient.Diagnosis"></InputTextArea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Discharge Date:
                                </label>
                                <div class="col-sm-8">
                                    <InputDate id="dischargeDate" @bind-Value="@patient.DischargeDate"></InputDate>
                                </div>
                            </div>





                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Tracheostomy:
                                </label>
                                <div class="col-sm-8">
                                    <InputCheckbox id="tracheostomy" @bind-Value="@patient.Tracheostomy"></InputCheckbox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Home Visit:
                                </label>
                                <div class="col-sm-8">
                                    <InputCheckbox id="homeVisit" @bind-Value="@patient.HomeVisit"></InputCheckbox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Home Service:
                                </label>
                                <div class="col-sm-8">
                                    <InputCheckbox id="homeService" @bind-Value="@patient.HomeService"></InputCheckbox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Smoking Status:
                                </label>
                                <div class="col-sm-8">
                                    <InputNumber id="homeService" @bind-Value="@patient.SmokingStatus"></InputNumber>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Peg Date:
                                </label>
                                <div class="col-sm-8">
                                    <InputDate id="pegDate" @bind-Value="@patient.PegDate"></InputDate>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Comments:
                                </label>
                                <div class="col-sm-8">
                                    <InputTextArea id="comments" @bind-Value="@patient.Comments"></InputTextArea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button Type="submit" class="btn btn-primary pull-right">Save</button>
                            </div>
                        </div>



                    </div>
                </EditForm>
            









        </Content>
    </Tab>


</Tabs>


