@page "/patient/detail/{internalpatientid:int}"
@rendermode @(new InteractiveServerRenderMode(prerender:false));
@using Ventilation.Components.Shared;
@using Ventilation.Components.Shared.PatientComponents

<PatientBanner Patient="@patient"></PatientBanner>



<Tabs EnableFadeEffect="true" @ref="tabs" NavStyle="NavStyle.Underline">
  
    <Tab Title="Patient Detail" Active="true">
        <TitleTemplate>
            <Icon Name="IconName.PlusSquare" /> Patient
        </TitleTemplate>
        <Content>
            <PatientAdditional PatientDetail="@patientDetail" OnPatientSaved="PatientIdChange"></PatientAdditional>
        </Content>
    </Tab>

    <Tab Title="Loans" Name="Loans" Disabled=@(!IsVentilationPatient)>
        <TitleTemplate>
            <Icon Name="IconName.Clipboard2PulseFill" /> Loans
        </TitleTemplate>
        <Content>
            <br/>
            @if(patientId != null)
            {
                <PatientLoans Patient="@patient"></PatientLoans>
            }
            
           
        </Content>
    </Tab>

    <Tab Title="Activity" Name="Activity" Disabled=@(!IsVentilationPatient)>
        <TitleTemplate>
            <Icon Name="IconName.ArchiveFill" /> Activity
        </TitleTemplate>
        <Content>
            <br/>
            <h3>This is the activity tab</h3>

        </Content>
    </Tab>

</Tabs>


<Toasts class="p-3" Messages="@messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.BottomRight" />