@page "/patient/detail/{internalpatientid:int}"
@rendermode @(new InteractiveServerRenderMode(prerender:false));
@inject ILogger<PatientDetail> Logger

<p>Get the details for patient: @InternalPatientId </p>
<form method="post" @onsubmit="Submit" @formname="patient-detail">
    <AntiforgeryToken />

    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Unit Number:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.HospitalNumber"  />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    NHS Number:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.NHSNumber" />
                </div>
            </div>


           
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Surname:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Surname" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Forename:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Forename" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Address1:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Address1" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Address2:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Address2" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Address3:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Address3" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Address4:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Address4" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    PostCode:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.PostCode" />
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Date Initiated:
                </label>
                <div class="col-sm-8">
                    <InputDate class="form-control" @bind-Value="Model!.DateInitiated" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Current Status:
                   
                </label>
                <div class="col-sm-8">
                    <InputSelect @bind-Value="Model!.PatientStatus" class="form-control">
                        <option value="@enumPatientStatus.NotonMachine">Not On Machine</option>
                        <option value="@enumPatientStatus.OnMachine">On Machine</option>
                        <option value="@enumPatientStatus.None">Not Set</option>
                    </InputSelect>
                </div>
            </div>


        </div>

        <div class="col">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Date of Birth:
                </label>
                <div class="col-sm-8">
                    <InputDate class="form-control" @bind-Value="Model!.DoB" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    CCG:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.CCG" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Diagnosis:
                </label>
                <div class="col-sm-8">
                    <InputTextArea class="form-control" @bind-Value="Model!.Diagnosis" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Dependency:

                </label>
                <div class="col-sm-8">
                    <InputSelect @bind-Value="Model!.Dependency" class="form-control">
                        <option value="@enumDependency.Low">Low</option>
                        <option value="@enumDependency.Medium">Medium</option>
                        <option value="@enumDependency.High">High</option>
                    </InputSelect>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Home Tel:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Telephone1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Mobile Tel:
                </label>
                <div class="col-sm-8">
                    <InputText class="form-control" @bind-Value="Model!.Telephone2" />
                </div>
            </div>
        </div>


        <div class="col">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Discharge Status:
                </label>
                <div class="col-sm-8">
                    <InputSelect @bind-Value="Model!.DischargeStatus" class="form-control">
                        <option value="@enumDischargeStatus.NotDischarged">Not Discharged</option>
                        <option value="@enumDischargeStatus.Discharged">Discharged</option>
                    </InputSelect>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Discharge Date:
                </label>
                <div class="col-sm-8">
                    <InputDate class="form-control" @bind-Value="Model!.DischargeDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Tracheostomy:
                </label>
                <div class="col-sm-8">
                    <InputCheckbox  @bind-Value="Model!.Tracheostomy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Home Visit:
                </label>
                <div class="col-sm-8">
                    <InputCheckbox  @bind-Value="Model!.HomeVisit" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Home Service:
                </label>
                <div class="col-sm-8">
                    <InputCheckbox  @bind-Value="Model!.HomeService" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Smoker:
                </label>
                <div class="col-sm-8">
                    <InputSelect @bind-Value="Model!.SmokingStatus" class="form-control">
                        <option value="@enumSmoker.Never">Never Smoked</option>
                        <option value="@enumSmoker.UsedTo">Used to Smoke</option>
                        <option value="@enumSmoker.Current">Current Smoker</option>
                    </InputSelect>
                </div>
               
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Peg Date:
                </label>
                <div class="col-sm-8">
                    <InputDate class="form-control" @bind-Value="Model!.PegDate" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                    Comments:
                </label>
                <div class="col-sm-8">
                    <InputTextArea class="form-control" @bind-Value="Model!.Comments" />
                </div>
            </div>
        </div>


    </div>



    
    

    


    <div>
        <button type="submit">Submit</button>
    </div>
</form>
