@rendermode InteractiveServer
@using Ventilation.Components.Shared.StockComponents

<!-- Statehaschanged doesn't refresh child components unless there is a related parameter-->
<CascadingValue Value="@RefreshList">
    <StockList OnStockSelected="StockSelected"></StockList>
</CascadingValue>

@* <div class="border border-dark">
    <h4>need a proper search facility for stock</h4>

    <EditForm Model="@stockToFind" OnSubmit="OnFindClick">
        <InputText id="clinicalTech" @bind-Value="@stockToFind.ClinicalTechRef"></InputText>
        <button Type="submit" class="btn btn-primary">Find</button>
    </EditForm>
</div> *@

@* <div>
    <QuickGrid Class="table" Items="stockList" Pagination="state">
        <PropertyColumn Property="@(s => s.StockId)" Sortable="true" Title="id" />
        <PropertyColumn Property="@(s => s.EquipmentName)" Sortable="true" Title="name" />
        <PropertyColumn Property="@(p => p.ClinicalReference)" Sortable="true" Title="Ref" />
        <TemplateColumn Title="ID">
            <button type="button" class="btn btn-link" @onclick="@(() => SelectStockClick(context))">Select</button>
        </TemplateColumn>

    </QuickGrid>
    <Paginator State="state" />
</div>
 *@



