@rendermode InteractiveServer

    <br/>
    @if (@consumable != null)
    {
    <EditForm Model="@consumable" OnSubmit="OnSaveConsumable">

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-4">
            <select class="form-control" @bind=@consumable.EquipmentTypeId @bind:after="OnEquipmentTypeChange">
                @if (consumable.EquipmentTypeId == null || consumable.EquipmentTypeId == 0)
                {
                    <option value="0">-- Choose a Type --</option>
                }
               
                @if (typeOptions != null)
                {
                    @foreach (var option in typeOptions)
                    {
                        <option value=@option.Id>@option.EquipmentTypeName</option>
                    }
                }
            </select>
            </div>
           
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <InputSelect class="form-control" @bind-Value=@consumable.EquipmentId disabled="@(!hasSelectedEquipmentType)">
                    <option value="0">-- Choose a Consumable --</option>
                    @if (filteredEquipOptions != null)
                    {
                        @foreach (var option in filteredEquipOptions)
                        {
                            <option value=@option.EquipmentId>@option.EquipmentName</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Delivery Method</label>
            <div class="col-sm-4">
                <InputSelect class="form-control" @bind-Value=@consumable.DeliveryMethod>
                    <option value="0">-- Choose a Delivery Method --</option>
                    @if (deliveryOptions != null)
                    {
                        @foreach (var option in deliveryOptions)
                        {
                            <option value=@option.Key>@option.Value</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>


        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Date Given</label>
            <div class="col-sm-4">
                <InputDate id="consumableDate" class="form-control" @bind-Value="@consumable.ConsumableDate"></InputDate>
            </div>
        </div>

         <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Comments</label>
            <div class="col-sm-4">
                <InputTextArea id="comments" class="form-control" @attributes="inputTextAreaAttributesComments" @bind-Value="@consumable.Comments"></InputTextArea>
            </div>
        </div>
        <Button Color="ButtonColor.Success" Type="ButtonType.Submit" Size="ButtonSize.Small" Outline="true">
            Save
        </Button>
        <Button Color="ButtonColor.Dark" Size="ButtonSize.Small" Outline="true" @onclick="OnCancelConsumableClick">
            Cancel
        </Button>
      
    </EditForm>
    }


<Toasts class="p-3" Messages="@messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.BottomRight" />



