@using Ventilation.Components.Shared.ConsumableComponents
@rendermode InteractiveServer
@using Domain.Models


@if (paramLoan != null)
{
   
        <Grid TItem="Consumable"
              Class="table table-hover table-bordered table-striped"
              DataProvider="ConsumablesDataProvider"
              AllowPaging="false"
              FixedHeader="true"
              Responsive="true">

            <GridColumns>
                <GridColumn TItem="Consumable" HeaderText="Date Given" PropertyName="ConsumableDate" SortKeySelector="item => item.ConsumableDate">
                    @context.ConsumableDate.ToString("dd/MM/yyyy")
                </GridColumn>
                <GridColumn TItem="Consumable" HeaderText="Type" PropertyName="EquipmentType" SortKeySelector="item => item.EquipmentType">
                    @context.EquipmentType
                </GridColumn>
                <GridColumn TItem="Consumable" HeaderText="Equipment" PropertyName="EquipmentName" SortKeySelector="item => item.EquipmentName">
                    @context.EquipmentName
                </GridColumn>
                <GridColumn TItem="Consumable" HeaderText="Delivery Method" PropertyName="DeliveryMethodName" SortKeySelector="item => item.DeliveryMethodName">
                    @context.DeliveryMethodName
                </GridColumn>
                @if (paramIsEdit == true)
                {
                    <GridColumn TItem="Consumable" Filterable="false" HeaderText="Select" HeaderTextAlignment="Alignment.Center" PropertyName="Id">
                        <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small" Outline="true" @onclick="@(()=> OnSelectConsumableClick(@context))">Select</Button>

                    </GridColumn>
                }
            </GridColumns>

        </Grid>

       
}







